.starter-template, .panel-default {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.starter-template {
  text-align: center;
}

.lead a {
  padding: 5px 15px 5px 15px;
}

.active {
  color: white;
  background-color: #4fb7ff;
}