#{extends 'main.html' /}
#{set title:'Bank overview' /}

<div class="container">

  <div class="starter-template">
    <h1>Обзор</h1>
    <p class="lead">
      <a href="@{Bank.overview()}" class="active">Мои бабосы</a>  |
      <a href="@{Payments.list()}">Выписка</a>
    </p>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Accounts</div>

    <table id="accounts" class="table">
      <thead>
        <tr>
          <td>Account Nr</td>
          <td>Balance</td>
        </tr>
      </thead>
      <tbody>
        #{list items:accounts, as:'account'}
          <tr class="account">
            <td>${account.accountId}</td>
            <td>${account.balance}</td>
          </tr>
        #{/list}
      </tbody>
    </table>

    <img src="/public/bad-bank-logo.png" style="width: 200px; margin-top: 50px;" align="right"/>
  </div>

</div>